*´ {

    /* Tamaño de Letra */
    font-size: 1rem;

    /* Grosor de la tipografia*/
    font-weight: 400;

    /*Tipografia*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

body {
    background-image: url(/assets/tumblr_mx1j8pum9z1s41isho1_1280.jpg);
    padding: 50px 50px 50px 50px;
    background-size: cover;

}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff15;
    border-radius: 10px;
    padding: 15px 50px;
    border-top: 4px solid #888887;
    border-right: 4px solid #888887;
    border-left: 4px solid #888887;
    align-items: center;

}

.boton {


    background-color: rgba(8, 8, 8, 0.87);
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
}

.lupa {

    font-size: x-large
}

.barra {

    background-color: rgba(8, 8, 8, 0);
    padding: 10px 30px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
}



header {

    border-radius: 10px;
}

header nav span {

    align-items: start;
    justify-self: start;
    font-weight: bold;
    font-size: 32px;
    color: white;
    border-radius: 10px;
    margin-inline-start: 10px
}

nav {

    backdrop-filter: blur(15px);
    border: 100px snow;
}

main {

    background-color: rgba(58, 58, 58, 0.315);
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    backdrop-filter: blur(15px);
    border: 4px solid #888887;


    /* Esto para poner la lista de canciones y la canción actual una al lado de la otra */
    display: flex;
}

.avatar {
    display: flex;
    border-radius: 100%;
    width: 63px;
    height: 63px;
    justify-content: center;

}

.user {

    font-weight: bold;
    font-size: 24px;
    color: white;
}

.account {

    font-weight: semi-bold;
    font-size: 16px;
    color: white;
}



.PERFIL {

    display: flex;
    align-items: center;
    padding: 10px;
}

main h1 {

    font-weight: bold;
    font-size: 36px;
    color: white;
    justify-content: center;
}


.canciones {

    display: flex;
    padding: 0px 50px;

}



.reproductor {

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.portada-del-album {

    border-radius: 20px;
    width: 420px;
    height: 414px;

}

.audio-player-image {

    border-radius: 20px;
    width: 420px;
    height: 414px;

}

.cancion-info h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}

.cancion-info p {

    text-align: center;
    color: #fff;
    font-weight: regular;
    font-size: 26px;
}

.cancion-info {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.controles {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.726);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 106px;
}

.controles button {

    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}


.reproductor-ubicacion {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.lista-canciones {

    display: flex;
    flex-grow: 1;
    justify-content: start;
    height: 900px;
    overflow: auto;
}